<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="helloBean"
          class="me.yv84.java_python_gateway.SpringBean">
    </bean>
    <bean id="helloBeanFutureTask"
          class="me.yv84.java_python_gateway.SpringBeanFutureTask"
          scope="prototype">
    </bean>

</beans>